/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--clr-main); 

}

.contenedor {
    display: flex;
    flex-wrap: nowrap;
<<<<<<< HEAD
    min-height: 80rem;
=======
    width: 150rem;
>>>>>>> 6cefd6d (Guardar cambios locales)
    align-items: flex-start;
    
}

/* Header */
.header-mobile {
    display: none; 
}

/* Main */
main {
    flex: 1;
    padding: 2rem;
    background-color:var(--clr-white);
<<<<<<< HEAD
    border-radius: 15px;
=======
    border-radius: 2rem;
>>>>>>> 6cefd6d (Guardar cambios locales)
    margin: 2rem;

}

.titulo-principal {
<<<<<<< HEAD
    font-size: 2rem;
=======
    font-size: 1.5rem;
>>>>>>> 6cefd6d (Guardar cambios locales)
    font-weight: bold;
    margin-bottom: 2rem;
    color: var(--clr-main); 
}

.contenedor-productos {
    display: grid;
<<<<<<< HEAD
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 30px;
=======
    grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
    gap: 20px;
>>>>>>> 6cefd6d (Guardar cambios locales)
}

.producto {
    background-color: white;
    border-radius: 1rem;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: transform 0.2s;
}

.producto:hover {
    transform: scale(1.05);
}

.producto-imagen {
    max-width: 100%;
<<<<<<< HEAD
    height: 15rem;
=======
    height: 17rem;
>>>>>>> 6cefd6d (Guardar cambios locales)
}

.producto-detalles {
    width: 100%;
    padding: 0.5rem;
    background-color: var(--clr-main);
    color: var(--clr-white);
    text-align: left;
<<<<<<< HEAD
}

.producto-titulo {
    font-size: 1.2rem;
}

.producto-precio {
    font-size: 1.1rem;
    margin: 1rem;
=======
    border-radius: 1rem;
}

.producto-titulo {
    font-size: 1rem;
}

.producto-precio {
    font-size: 1rem;
>>>>>>> 6cefd6d (Guardar cambios locales)
}
.cabecera-aside{
    margin-bottom: auto;
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
}

.producto-agregar {
    background-color: var(--clr-white);
    color: var(--clr-main);
    border: 0.5rem solid var(--clr-white);
    padding: 0.5rem;
    width: 100%;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 0.5rem;
    cursor: pointer;
    transition: background-color 0.2s, color 0.2s;
}

.producto-agregar:hover {
    background-color: var(--clr-white);
    color: var(--clr-main-light);
}

/* Aside */
aside {
<<<<<<< HEAD
    width: 20rem;
=======
    width: 25rem;
    height: 100%;
>>>>>>> 6cefd6d (Guardar cambios locales)
    background-color: var(--clr-main);
    color: var(--clr-white);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
<<<<<<< HEAD
    align-items: center; 
=======
    align-items: left; 
>>>>>>> 6cefd6d (Guardar cambios locales)
    padding: 3rem 2rem;
    position: relative;
    top: 0;
   
}
aside header{
<<<<<<< HEAD
    margin-bottom: 20rem;
=======
    margin-bottom: 10rem;
>>>>>>> 6cefd6d (Guardar cambios locales)
    text-align: center;
}
aside .menu{
    list-style: none;
    padding: 0;
    margin: 0 auto;
    width: 100%;
}

.close-menu {
    display: none;
    margin: 0;
    padding: 0;
}

.menu {
    list-style: none;
    padding: 0;
    margin:  0; 
    width: 100%;
    padding-top: 5rem;

}

.boton-menu {
    background-color: var(--clr-main);
    color: var(--clr-white);
    border: none;
    width: 100%;
    padding: 1rem;
    margin: 0.8rem 0;
    text-align: left;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    align-items: center;
    font-size: 1rem;
}


.boton-menu.boton-carrito {
    background-color: var(--clr-white); 
    color: var(--clr-main);
    font-weight: bold;
<<<<<<< HEAD
    margin-top: 2rem;
=======
    border-radius: 1rem;
    margin: 1rem;
    margin-top: 3.5rem;
>>>>>>> 6cefd6d (Guardar cambios locales)
}
.bi-hand-index-thumb-fill{
    transform: rotate(90deg);
}
.bi-hand-index-thumb{
    transform: rotate(90deg);
}
.bi{
    margin-right: 1rem;
}

.boton-menu:hover {
    background-color: var(--clr-white); 
    color: var(--clr-main);
}

.numerito {
    background-color:var(--clr-main);
    color: var(--clr-white);
<<<<<<< HEAD
    padding: 0.2rem 1rem;
    border-radius: 10px;
    font-weight: bold;
    font-size: 0.8rem;
    margin-left: auto;
=======
    padding: 0.5rem 1rem;
    border-radius: 10px;
    font-weight: bold;
    font-size: 1rem;
    margin-left: 1rem;
}

.boton-categoria {
    background-color: var(--clr-main);
    color: var(--clr-white);
    border: none;
    width: 100%;
    padding: 1rem;
    margin: 1rem;
    margin-top: 3.5rem;
    text-align: left;
    border-radius: 1rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    font-size: 1rem;
    transition: background-color 0.2s, color 0.2s;
}

/* Estilo para el botón marcado */
.boton-categoria:focus {
    background-color: var(--clr-white); /* Fondo blanco para destacar */
    color: var(--clr-main); /* Texto en el color principal */
    font-weight: bold; /* Resaltar el texto */
    border: 2px solid var(--clr-main); /* Agregar un borde opcional */
    outline: none; /* Eliminar el borde predeterminado */
>>>>>>> 6cefd6d (Guardar cambios locales)
}

/* Footer */
footer {
    text-align: left;
<<<<<<< HEAD
    font-size: 0.9rem;
    color: var(--clr-main-light);
    margin-top: auto; 
=======
    font-size: 1rem;
    color: var(--clr-main-light);
    margin-top: 10rem;
>>>>>>> 6cefd6d (Guardar cambios locales)
    width: 100%;
}